* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.896796218487395) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #e5e5e5;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
}

#container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

#items {
  width: 80vw;
  height: 100%;
}

#price {
  width: 20vw;
  position: fixed;
  bottom: 0;
  top: 18.3vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 1.3rem bold;
  letter-spacing: 1.5px;
}
#price input {
  margin: 5vh 0;
  height: 7vh;
  width: 13vw;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
}
#price input:hover {
  transition: all 0.3s ease-in-out;
  background-color: green;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
  padding: 0 10vw;
  font-size: 1.3rem;
  font-weight: bold;
}

.item-cover {
  max-height: 18vh;
}

.total-price {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
