* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.896796218487395) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #e5e5e5;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
main {
  margin: auto;
  height: 80vh;
  position: absolute;
  bottom: 0;
}
section {
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
.integrantesRa {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.integrantesRa div {
  position: relative;
  padding: 4px;
  width: 40vw;
  height: 4vh;
  margin: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: height 1s ease-in-out;
}
.integrantesRa div p {
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: height 0.5s ease-in-out;
}
.integrantesRa div:hover {
  padding: 5px;
  height: auto;
  -webkit-line-clamp: unset;
  transition: height 1s ease-in-out;
}
.integrantesRa div p:hover {
  -webkit-line-clamp: unset;
  height: auto;
  transition: height 1s ease-in-out;
}
