#container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
}

.movies-rows {
  width: 90vw;
  height: 40vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4.8vh;
}

.element-movie {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.element-movie>a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.filme {
  transition: all 0.3s ease;
  max-width: 100%;
  max-height: 100%;
  border: transparent;
  border-radius: 4px;
  position: relative;
}

.element-movie img:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgb(52, 51, 51);
}

.oncart {
  box-shadow: 0px 0px 10px 0px rgb(47, 221, 25);
}