* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

body {
  background-color: #000000;
}

section {
  margin: 0 auto;
  width: 50vw;
  background-color: #990202;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  font-size: 0.8rem;
}

@media (min-height: 800px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

legend {
  font: 600 3rem 'Poppins', sans-serif;
  padding: 0 0 3vh 0;
  text-align: center;
  margin: 0 0 3vh 0;
}

form {
  width: 80%;
  margin: auto;
  padding: 3vh 3vw;
}

.div-input {
  margin: 0 auto;
  min-width: 100%;
}
.div-file {
  margin: 0 auto;
  min-width: 100%;
  display: flex;
}
label {
  font: 600 1.2rem 'Poppins', sans-serif;
}

input {
  min-height: 2.74vh;
  width: calc(100% - 12px);
  background-color: #e7e0e0;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.8vh 0.4vw;
  cursor: pointer;
  outline: none;
  color: #000;
  font-weight: bold;
}

input:hover {
  border: 1px solid #000000d6;
}

button {
  overflow: hidden;
  min-width: 15vw;
  height: 8vh;
  background: #696969;
  display: block;
  margin: 0 auto;
  padding: 0.8vh 0.4vw;
  text-align: center;
  font: 600 1.5rem 'Poppins', sans-serif;
  color: #fff;
  border: 0px solid transparent;
}

button:hover {
  cursor: pointer;
  border: 1px solid #000;
  background: #1c1c1c;
}

hr {
  width: 100%;
}

.is-invalid {
  border: 2px solid red;
}
.is-valid {
  border: 2px solid green;
}
