header {
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20vh;
  margin-top: 5vh;
  padding: 1vw;
}
nav {
  width: 35vw;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
ul > li {
  width: 100vw;
}
.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.navLink:hover {
  transition: 0.5s color ease;
  color: red;
}
