header {
  display: flex;
  width: 100vw;
  height: 18.3vh;
  justify-content: space-around;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: #000;
  align-content: center;
  align-items: center;
}
h1 {
  font-size: 4.5rem;
  color: #ff0000;
}

nav {
  width: 35vw;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

ul > li {
  width: 100vw;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.navLink:hover {
  transition: 0.5s color ease;
  color: red;
}

.cart {
  max-width: 3vw;
  max-height: 3vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.cart::before {
  content: attr(data-count);
  background-color: red;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.7em;
  min-height: 1.7em;
  max-width: 1.7em;
  max-height: 1.7em;
  position: sticky;
  border-radius: 50%;
  top: 100%;
  left: 100%;
}
