* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.896796218487395) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #e5e5e5;
}

h1 {
  font-size: 4.5rem;
  color: #ff0000;
  margin-left: 20px;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 46px;
  margin-left: 20px;
  margin-left: 20px;
}

#container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
}

.movies-rows {
  width: 90vw;
  height: 40vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4.8vh;
}

.element-movie {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}
.element-movie > a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.filme {
  transition: all 0.3s ease;
  max-width: 100%;
  max-height: 100%;
  border: transparent;
  border-radius: 4px;
  position: relative;
}

.detail-cover {
  max-width: 100%;
  max-height: 100%;
  border: transparent;
  border-radius: 4px;
  position: relative;
  margin: 1vw;
}

.element-movie img:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgb(52, 51, 51);
}

.hide,
.movie-details {
  display: none;
}

.show:target {
  scroll-margin-top: 30vh;
}

.show {
  width: 100vw;
  height: 55vh;
  background: rgb(47, 47, 47);
  background: linear-gradient(
    90deg,
    rgba(47, 47, 47, 1) 0%,
    rgba(62, 62, 62, 0.8185399159663865) 50%,
    rgba(47, 47, 47, 1) 100%
  );
  display: flex;
  flex-direction: row;
  margin: 3.1vh 0;
}

.arrow-box {
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  margin: 1vw;
  transform: translateY(-30%);
}

.left-arrow {
  color: #fff;
  font-size: 35px;
  transition: all 0.3s ease;
  margin: 1vw;
}

.left-arrow:hover {
  color: red;
  cursor: pointer;
}

.info {
  margin: 1vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-title {
  height: 8%;
  color: #fff;
  font-size: 3em;
  display: inline-table;
}

.movie-price {
  height: 5%;
  color: #fff;
  font-size: 2em;
  display: inline-table;
}

.button {
  height: 30%;
}

.add,
.remove {
  margin: 20px 2px;
  padding: 10px;
  border-radius: 3.5px;
  font-size: 16px;
}

.remove:hover {
  background-color: #ff0000;
  color: white;
  transition: 0.5s all ease;
  outline: none;
  cursor: pointer;
}

.add:hover {
  background-color: #4a4a4a;
  color: white;
  transition: 0.5s all ease;
  outline: none;
  cursor: pointer;
}

.oncart {
  box-shadow: 0px 0px 10px 0px rgb(47, 221, 25);
}
