* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.896796218487395) 50%, rgba(0,0,0,1) 100%);
  color: #e5e5e5;
}
h1 {
  font-size: 4.5rem;
  color: #ff0000;
  margin-left: 20px; 
}
h2 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 46px;
  margin-left: 20px; 
}
#container {
  width: 100vw;
  height: 100vh;
  margin: 10px 0;
}
.movies-rows {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.movies-rows:hover,
.movies-rows:hover {
  opacity: 1;
}

.movies-list {
  width: 999999px;
  display: flex;
  height: 48vh;
  flex-direction: row;
  transition: all ease 0.3s;
  overflow: hidden;
  padding-left: 20px;
}
.element-movie {
  display: inline-block;
  height: 55vh;
}
.filme {
  -webkit-transform: scale(0.93);
  transform: scale(0.8);
  transition: all 0.3s ease;
  width: 19vw;
  height: 52vh;
  border: transparent;
  border-radius: 4px;
}
.element-movie img:hover {
  transform: scale(0.83);
  box-shadow: 0px 0px 33px 0px rgb(52, 51, 51);
}
.movie-details{
  width: 100vw;
  height: 55vh;
  background-color: grey;
  display: none;
}
.show{
  display: block;
}